<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TEXT-CREATOR</title>
    {% load static %} 

    <!--CSS, BOOTSTRAP, JS, POPPER Y JQUERY -->
      <link rel="stylesheet" href="{% static 'generator/css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- RESPONSIVE DESIGN -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container col-12 mt-3">
      <h3 class="container col-12 pl-5 pr-5">
        <img class="logo" src="{% static 'generator/img/logo.png' %}" alt="">
        <a class="panel float-right" href="admin/">EDITION</a>
        <a class="panel float-right mr-5" href="" data-toggle="modal" data-target="#exampleModal">HELP</a>
      </h3>
    <!-- MODAL -->
      <div class="text-center">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HOW TO USE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-align-center">
                You must select the options you want and click on "create" to generate the corresponding text complication, then copy, delete or continue generating text (this will delete the previous one).
                You can edit the selects options, and create as many as you want. You can also customize the greetings, all from the edit panel.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- DIV -->
    <div class="left container col-sm-12 mb-3">
      <div class="leftsup">
      <form class="" action="" method="POST">
      {% csrf_token %}
      <input type="checkbox" id="greet" name="greet" value="hello">
        <label for="greet">Saludo</label> <br><br>
      {% for sel in selects %}
      <h5>{{sel.name}} <br></h5>
      <select class="container mb-5" name="sel">
        <option value=""></option>
        {%for question in questions %}
        {% if sel == question.categories%}
          <option value="{{question.text}}">{{question.title}}</option>  
        {% endif %}
        {%endfor%}
      </select> 
      {% endfor %}
      <input type="checkbox" id="greet" name="greet2" value="hi">
        <label for="greet">Saludo</label>          
      </div>
      <div class="inf container text-center button">
        <button type="submit" name="send" class="sub btn btn-dark mb-1 ">CREATE</button>
      </div>
      </form>
    </div>

    <!-- DIV -->
    <div class="right container text-center col-sm-12 mb-5">
    <!-- Superior -->
    <textarea class="container col-12" id="probar">
        {{hi}}
        
        {% for ph in paragraph%}{{ph}}
        {% endfor%}
        {{bye}}
    </textarea>
    <!-- Inferior -->
    <div class="container inf">
      <form  action="home.html" method="POST">
        <button type="button" name="button" class="2 sub btn btn-dark mb-2 mt-1" id="copiar">COPY</button>
        <button type="button" name="button" class="2 sub btn btn-dark mb-2 mt-1 ml-5" id="borrar">DELETE</button>
      </form>
    </div>
    </div>

    </div>

  <script type="text/javascript">
    const inpu = document.getElementById("probar");
    const but = document.getElementById("copiar");
    const del = document.getElementById("borrar");

    but.onclick = function (){
      inpu.select();
      document.execCommand("copy");
    };
    del.onclick = function (){
      inpu.select();
      document.execCommand("delete");
    };
  </script>

  </body>
</html>